@mixin fluid-text($min-size, $max-size, $min-vw: 320px, $max-vw: 1200px) {
  font-size: $min-size;
  
  @media (min-width: $min-vw) {
    font-size: calc(
      #{$min-size} + 
      (#{$max-size} - #{$min-size}) * 
      ((100vw - #{$min-vw}) / (#{$max-vw} - #{$min-vw}))
    );
  }
  
  @media (min-width: $max-vw) {
    font-size: $max-size;
  }
}